@import "tailwindcss";

/* Chrome, Edge, Safari */
.flex-1::-webkit-scrollbar {
  width: 6px;
}
.flex-1::-webkit-scrollbar-track {
  background: #e5e7eb; /* light gray track */
  border-radius: 10px;
}
.flex-1::-webkit-scrollbar-thumb {
  background: #3b82f6; /* blue thumb */
  border-radius: 10px;
}
.flex-1::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* darker blue on hover */
}

/* Firefox */
.flex-1 {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #e5e7eb;
}

html,
body,
#__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, system-ui, Arial, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
